Flask
Flask-SocketIO
requests
numpy
opencv-python  # أو opencv-python إذا كنت تحتاج للواجهة الرسومية أيضاً
Pillow
arabic_reshaper
python-bidi
shapely
eventlet
python-dotenv
# أضف أي مكتبات أخرى يستخدمها text_formatter.py إذا لم تكن مدرجة
